<section class="about">
    <div class="about__body">
        <div class="about__content">
            <div class="about__wrapp _container">
                <h2 class="about__title">О клинике</h2>
                <p class="about__services">Деятельность:</p>
                {{> block-active}}
                <p class="about__licence">Лицензии:</p>
                <a class="about__link" href="#">Лицензия на осуществление медицинской деятельности.</a>
                <a class="about__link" href="#">Лицензирующий орган: Министерство здравоохранения Пермского края
                    (614006, г.
                    Пермь, Ленина, 51;
                    тел.: +7 (342) 217–79–00, 217–75–26; эл. почта: info@minzdrav.permkrai.ru).</a>
            </div>
            <div class="about__background">
                <div class="about__wrapp empl-about _container">
                    <h2 class="empl-about__title">Сотрудники</h2>
                    <ul class="empl-about__list">
                        <li class="empl-about__item">
                            <h3 class="empl-about__name">Денисова Мария Владимировна</h3>
                            <span class="empl-about__position">Врач-стоматолог</span>
                            <div class="empl-about__wrapp">
                                <img class="empl-about__img" src="/images/personal/1.jpg" alt="">
                                <div class="empl-about__info">
                                    <div class="empl-about__edu">
                                        <div class="empl-about__edu-title">Образование:</div>
                                        <p class="empl-about__edu-text">ПГМА, 2007 год.
                                            Стоматология общей практики.
                                            Стоматология ортопедическая.</p>
                                    </div>
                                    <div class="empl-about__serv">
                                        <div class="empl-about__serv-title">Виды услуг:</div>
                                        <ul class="empl-about__serv-list">
                                            <li class="empl-about__serv-item">Лечение кариеса и его осложнений</li>
                                            <li class="empl-about__serv-item">Протезирование</li>
                                            <li class="empl-about__serv-item">Профессиональная гигиена полости рта</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="empl-about__item">
                            <h3 class="empl-about__name">Михалицина Анастасия Владимировна</h3>
                            <span class="empl-about__position">Врач-стоматолог</span>
                            <div class="empl-about__wrapp">
                                <img class="empl-about__img" src="/images/personal/2.jpg" alt="">
                                <div class="empl-about__info">
                                    <div class="empl-about__edu">
                                        <div class="empl-about__edu-title">Образование:</div>
                                        <p class="empl-about__edu-text">ПГМУ им. ак. Е. А. Вагнера, 2014 год.
                                            Стоматология общей практики.</p>
                                    </div>
                                    <div class="empl-about__serv">
                                        <div class="empl-about__serv-title">Виды услуг:</div>
                                        <ul class="empl-about__serv-list">
                                            <li class="empl-about__serv-item">Эстетическая реставрация зубов</li>
                                            <li class="empl-about__serv-item">Лечение кариеса и его осложнений</li>
                                            <li class="empl-about__serv-item">Профессиональная гигиена полости рта</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="empl-about__item">
                            <h3 class="empl-about__name">Терёхина Наталья Сергеевна</h3>
                            <span class="empl-about__position">Гигиенист стоматологический</span>
                            <div class="empl-about__wrapp">
                                <img class="empl-about__img" src="/images/personal/3.jpg" alt="">
                                <div class="empl-about__info">
                                    <div class="empl-about__edu">
                                        <div class="empl-about__edu-title">Образование:</div>
                                        <p class="empl-about__edu-text"></p>
                                    </div>
                                    <div class="empl-about__serv">
                                        <div class="empl-about__serv-title">Виды услуг:</div>
                                        <ul class="empl-about__serv-list">
                                            <li class="empl-about__serv-item">Профессиональная гигиена полости рта</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="about__swiper-wrapp _container">

                <h2 class="about__swiper-title">Мы ждем вас в Студия Смайл</h2>

                <svg class="swiper-button-next" width="10" height="18" viewBox="0 0 10 18" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.32617 16.7231L9.32617 8.72314M1.32617 1.11425L9.32617 9.11425" stroke="#D4A440" />
                </svg>
                <svg class="swiper-button-prev" width="10" height="18" viewBox="0 0 10 18" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.32617 16.7231L1.32617 8.72314M9.32617 1.11425L1.32617 9.11425" stroke="#D4A440" />
                </svg>
                <!-- Swiper -->
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/images/photo/DSC_8686 (32).jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/photo/DSC_8686 (2).jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/photo/DSC_8686 (31).jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/photo/DSC_8686 (39).jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/photo/DSC_8686 (59).jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/photo/DSC_8686 (33).jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/photo/DSC_8686 (14).jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/photo/DSC_8686 (21).jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/photo/DSC_8686 (18).jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/photo/DSC_8686 (9).jpg" />
                        </div>
                    </div>

                </div>
                <div thumbsSlider="" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/images/photo/DSC_8686 (32).jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/photo/DSC_8686 (2).jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/photo/DSC_8686 (31).jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/photo/DSC_8686 (39).jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/photo/DSC_8686 (59).jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/photo/DSC_8686 (33).jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/photo/DSC_8686 (14).jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/photo/DSC_8686 (21).jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/photo/DSC_8686 (18).jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/photo/DSC_8686 (9).jpg" />
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    </div>
</section>