<ul class="block-active">
    <li class="block-active__item">
        <img class="block-active__block-img" src="/images/photo/DSC_8686 (37).jpg" alt="">
        <p class="block-active__label">
            Эстетическая реставрация зубов
        </p>
    </li>
    <li class="block-active__item">
        <img class="block-active__block-img" src="/images/photo/DSC_8686 (42).jpg" alt="">
        <p class="block-active__label">
            Лечение кариеса и его осложнений
        </p>
    </li>
    <li class="block-active__item">
        <img class="block-active__block-img" src="/images/photo/DSC_8686 (40).jpg" alt="">
        <p class="block-active__label">
            Протезирование
        </p>
    </li>
    <li class="block-active__item">
        <img class="block-active__block-img" src="/images/photo/DSC_8686 (33).jpg" alt="">
        <p class="block-active__label">
            Стоматологическая хирургия
        </p>
    </li>
    <li class="block-active__item">
        <img class="block-active__block-img" src="/images/photo/DSC_8686 (60).jpg" alt="">
        <p class="block-active__label">
            Профессиональная гигиена полости рта
        </p>
    </li>

</ul>