<ul class="news__list">
    <li class="news__item">
        <a href="" class="news__link">
            <img class="news__img" src="/images/photo/DSC_8686 (54).jpg" alt="">
            <h3 class="news__name">Условия приема детей на лечение</h3>
            <span class="news__date">12.11.2024</span>
        </a>
    </li>
    <li class="news__item">
        <a href="" class="news__link">
            <img class="news__img" src="/images/photo/DSC_8686 (54).jpg" alt="">
            <h3 class="news__name">Условия приема детей на лечение</h3>
            <span class="news__date">12.11.2024</span>
        </a>
    </li>
    <li class="news__item">
        <a href="" class="news__link">
            <img class="news__img" src="/images/photo/DSC_8686 (54).jpg" alt="">
            <h3 class="news__name">Условия приема детей на лечение</h3>
            <span class="news__date">12.11.2024</span>
        </a>
    </li>
</ul>