<div class="page-new">
    <div class="page-new__body">
        <div class="page-new__contant _container">
            <h2 class="page-new__title">Условия приема детей на лечение</h2>
            <div class="page-new__wrapp">
                <img class="page-new__img" src="/images/news/1.png" alt="">
                <div class="page-new__info">
                    <span class="page-new__date">12.11.2024</span>
                    <p class="page-new__text"> Уважаемые пациенты!</p>
                    <p class="page-new__text">Хотим донести до вашего сведения, что мы НЕ принимаем детей на лечение без
                        осмотра.</p>
                    <p class="page-new__text">В любом возрасте, при любых условиях.</p>
                    <p class="page-new__text">При осмотре доктор сможет найти контакт с Вашим ребенком, оценить
                        состояние
                        зубов и выстроить дальнейший план лечения (так как в любом возрасте у ребенка есть свои
                        индивидуальные
                        особенности).</p>
                    <p class="page-new__text page-new__text_bold">По всем вопросам мы готовы ответить Вам с 9 до 18
                        часов в
                        рабочие дни в личные сообщения, либо по номерам телефонов +7 929-230-83-99, 3-03-09.</p>
                </div>
            </div>
        </div>
    </div>
</div>