<div class="page-contacts">
    <div class="page-contacts__body">
        <div class="page-contacts__content">
            <div class="page-contacts__wrapp _container">
                <h2 class="page-contacts__title">Контакты</h2>
                {{> contacts-info}}
            </div>
            <div class="page-contacts__background">
                <div class="page-contacts__wrapp _container">

                    <div class="page-contacts__details">
                        <div class="page-contacts__column">
                            <h3 class="page-contacts__name">Реквизиты организации:</h3>
                            <ul class="page-contacts__list">
                                <li class="page-contacts__item">ИНН 5918219130</li>
                                <li class="page-contacts__item"> КПП 591801001</li>
                                <li class="page-contacts__item">ОГРН 1215900019741</li>
                                <li class="page-contacts__item">ОКПО 72180485</li>
                                <li class="page-contacts__item">ОКВЭД 86.23 Стоматологическая практика</li>
                            </ul>
                        </div>
                        <div class="page-contacts__column">
                            <h3 class="page-contacts__name">Банковские реквизиты:</h3>
                            <ul class="page-contacts__list">
                                <li class="page-contacts__item">р/с 40702810176080000147</li>
                                <li class="page-contacts__item">в Пермском региональном филиале АО «Россельхозбанк»</li>
                                <li class="page-contacts__item">к/с 30101810800000000897</li>
                                <li class="page-contacts__item">БИК 045773897</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>