.page-contacts {

    &__body {}

    &__content {}

    &__wrapp {}

    &__title {}

    &__background {
        background-color: #FFFAF0;
        margin          : 40px 0 0 0;

    }

    &__details {
        display        : flex;
        justify-content: space-between;
        padding        : 70px 0;

        @media (max-width:768px) {
            flex-direction: column;
            align-items   : center;
            gap           : 20px;
        }
    }

    &__column {
        @media (max-width:768px) {
            max-width: 320px;
        }
    }

    &__name {}

    &__list {
        list-style: none;
        margin    : 0 0 0 0;
        padding   : 0 0 0 0;
    }

    &__item {
        line-height: 200%;
    }
}